@model Mod02_01.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {

        <fieldset>
            <legend>Opera</legend>
            <div>@Html.LabelFor(m => m.Title)</div>
            <div>@Html.EditorFor(m => m.Title) @Html.ValidationMessageFor(m=>m.Title)</div>
            <div>@Html.LabelFor(m => m.Year)</div>
            <div>@Html.EditorFor(m => m.Year) @Html.ValidationMessageFor(m => m.Year)</div>
            <div>@Html.LabelFor(m => m.Composer)</div>
            <div>@Html.EditorFor(m => m.Composer) @Html.ValidationMessageFor(m => m.Composer)</div>
            <input type="submit" name="name" value="Create" />
        </fieldset>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
